/*Modificacion del Margen completo*/
*{
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

header{
    /*Modificacion de la imagen de fondo*/
    background-image: url(../img/bg-hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /*Modificacion de fuente*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 3px 6px black;
    text-align: right;
    color: white;
}

/*Modificacion del header*/
header h1 {
    font-size: 60px;
    font-weight: 900;
}

header h2 {
    font-size: 40px;
    font-weight: 400;
}

